Nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    height: 10vh;
    background-color: lightslategrey;
    justify-content: space-evenly;
    align-items: center;
}
.linkdiv{
    grid-area: 2/3/3/4;
    display: flex;
    justify-content: space-around;
}
.title{
    grid-area: 1/2/2/3;
    font-size: 30px;
    text-align: center;
}